/* Mobile-first styling, startng with 320px*/
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

html {
    font-size: 10px;
}

body {
    max-width: 500px;
    margin: 0 auto;
    background-color: pink;
}

header {
    background-color: rgb(242, 59, 153);
    padding: 1%;
}

.five-vw-padding {
    padding: 5%;
}

h1 {
    font-family: "Protest Revolution";
    font-weight: 600;
    font-size: 3.7rem;
    text-align: center;
    margin: 10%;
    background-color: rgba(244, 244, 87, .8);
    color: rgb(155, 49, 11);
    box-shadow:0 -5px 20px 10px rgb(111, 245, 22); 
    border-radius: 5%;
}

header img {
    border:  rgb(88, 19, 19) dashed;
    border-width: 1em 2em;
    border-radius: 15% 40%;
    padding: 2%;
}

h2 {
    font-family: "Protest Revolution";
    font-size: 3.5rem;
    text-align: center;
}

h3 {
    font-family: "Protest Revolution";
    font-size: 3rem;
    text-align: center;
    padding: 5% 0;
}

h4 {
    font-family: "Protest Revolution";
}

p {
    font-family: Dosis;
    padding-bottom: 5%;
}

h1 em {
    font-weight: 900;
}

h1 span {
    font-size: 2.5rem;
    vertical-align: top;
}

.opening-quote {
    font-family: Dosis;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    font-style: italic;
    margin-top: 15%;
    background-color: rgba(154, 226, 242, 1);
    color: rgb(18, 18, 159);
    padding: 5% 0;
    border-radius: 20%;
    box-shadow: 0 0 20px 20px rgba(154, 226, 242, 1);
}

.opening-quote span {
    display: block;
    text-align: right;
}

header h3 {
    margin: 10% 0 0 0;
    color: rgb(54, 49, 48);
    font-weight: 900;
}

header hr {
    width: 90%;
    margin: 0 auto;
}

nav {
    width: 90%;
    margin: 0 auto;
    font-family: "Protest Revolution";
    font-size: 2.3rem;
    padding: 5% 0 5% 15%;
    margin-top: 5%;
    background-color: rgba(101, 67, 67, .6);
}

a {
    text-decoration: none;
    color: rgb(245, 191, 237);
}

a:hover {
    color: rgb(74, 8, 74);
}

menu, menu>li>a {
    list-style: none;
}

menu .menu-list-starter {
    display: inline-block;
    width: 9%;
}

.sub-menu {
    padding-inline-start: 11%;
}

.sub-menu .menu-list-starter {
    width: 10%;
}

header>aside {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 600;
    margin: 5% 0 0 5%;
    color: rgb(245, 191, 237)
}

section {
    font-size: 1.6rem;
}

.rainbow-hearts-line {
    display: flex;  
    overflow: hidden;
    margin: 5% 0;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.violet {
    color: purple
}

.reversed {
    transform: scaleX(-1);
}

.welcome {
    padding: 5% 5% 0;
    background-color: rgb(237, 150, 73);
}

.welcome h2 {
    color: rgb(54, 49, 48);
}

.welcome em {
    font-weight: 800;
}

section:not(.welcome){
    display: flex;
    flex-direction: column;
}

.return-to-table-of-contents {
    position: sticky;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-family: "Protest Revolution";
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 600;
    padding: 5%;
    background-color: rgb(242, 59, 153);
}

.return-to-table-of-contents text {
    padding: 0 10px;
}

hr {
    width: 12%;
}


.plant-hero {
    background-color: rgb(179, 206, 145);
    padding: 5vw;
}

.plant-hero h2 {
    color: rgb(8, 72, 10);
    padding-bottom: 5%;
}

.plant-hero p, .plant-hero span {
    font-size: 1.7rem;
}

.plant-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;
    font-family: "Protest Revolution";
    padding-bottom: 5%;
}

.plant-links a {
    font-size: 3rem
}

.water-lovers-heading {
    color: rgb(38, 3, 132);
}

.water-ascetics-heading {
    color: rgb(87, 40, 3);
}

.water-lovers {
    display: flex;
    flex-direction: column;
    background-color: rgb(178, 210, 210);
}

.water-lovers p {
    padding: 0 5%;
}

figure {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(55, 15, 15, .1);
    margin: 5% 0;
}

figure img {
    width: 100%;
    margin: 10% 0;
    aspect-ratio: 4/5;
}

figcaption {
    font-family: Dosis;
    padding: 0 5% 5% 5%;
}

.two-pics-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.three-pics-wrapper {
    width: 100%;
    display: flex; 
    justify-content: center;
}

.water-ascetics {
    background-color: rgb(243, 211, 169);
}

.percy-steward {
    background: repeating-linear-gradient(
        90deg, 
        rgb(239, 145, 111), 
        rgb(217, 173, 79) 15%, 
        rgb(230, 227, 227) 30%,
        rgb(239, 145, 111) 50%
        );
    font-weight: 600;
}

.percy-steward figure {
    background-color: rgba(66, 22, 22, .5);
}

.percy-collage {
    flex-direction: row;
}

.percy-collage img {
    width: 50%;
}

.tips-and-tricks {
    background-color: blueviolet;
}

.tips-and-tricks h2 {
    color: rgb(245, 171, 206);
}

.tips-and-tricks article {
    padding: 5%;
}

.tips-and-tricks em {
    font-weight: 900;
}

.tips-and-tricks h4 {
    margin-bottom: 5%;
}

.wifi-internet {
    background-color: aquamarine;
}

.mouse-traps {
    background-color: rgb(248, 235, 114);
}


.all-caps {
    text-transform: uppercase;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }